.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 30px;
  color: RGBA(42, 97, 128, 1.00);
}

.App-title {
  font-size: 2.5em;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}
/*subtitle's styling*/
.sub-title {
  font-size: 1em;
  font-weight: 500;
  font-size: 1.5em;
  padding: 10px;

}
.description{
  font-family: sans-serif;
  font-size: 1.3em;
  display: inline-block;
  width: 700px;
  font-weight: 300;
  padding: 10px;
}
span{
  color: #337ab7;
    font-weight: 700;
}
span:hover{
  background-color: grey;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.social{
  display: inline-block;
  font-size: 40px;
  margin: 0 auto;
}
ul li{
  /*margin-left: 150px;*/
  list-style: none;
  text-align: center;
}
.social i{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
/*.icon{
 flex: left;
}*/
.about-header{
  padding-top: 10px;
  color: RGBA(42, 97, 128, 1.00);
}
.about-sub-title{
  padding-top: 20px;
  font-weight: bold;
}
.wrapper{
  display: flex;
  padding-top: 30px;
  padding-bottom: 60px;

}
.projectOne{
  width: 400px;
  height: 400px;
  /*background-color: green;*/
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto;
}
.projectTwo{
  width: 400px;
  height: 400px;
  /*background-color: green;*/
  padding: 10px;
  margin: 0 auto;

}
.projectThree{
  width: 400px;
  height: 400px;
  /*background-color: green;*/
  padding: 10px;
  margin: 0 auto;
}
.techUsed{
  padding: 20px;
}
.skillsWrapper{
  width: 100%;
  margin-top: 20px;
}
.coreSkills{
  width:75%;
  margin:0 auto;
}

.otherSkills{
  width:80%;
  margin:0 auto;
}
.cell{
  flex:left;
  width:25%;
  list-style: none;

}
.cell img{
  height: 40%;
  text-align: center;
}
ul{
  width:100%;
  display:flex;
  margin:0 auto;
  padding: 5px;
}
.skill{
  padding: 10px 20px 10px 20px;
}
.contact{
  color: #007FB2;
  padding: 10px;
}
